@* @model CreateDepartmentDto *@
@model Department

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department Page</h1>
<br>
<br>
<form asp-action="Delete" method="post">
    <partial name="DepartmentPartialView/_DetailsDeletePartialView"/>
    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger">
        @* <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a> *@
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
    
</form>